<!doctype html>
<html>
    <head>
        <title>Build a Blog!</title>
        <style>
            body {
                font-family: Arial, sans-serif;
            }
            div {
                padding: 10px;
            }
            .error {
                color: red;
                font-style: italic;
            }
        </style>
    </head>
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/blog">Main Blog Page</a>
            <a href="/newpost">Add a Blog Entry</a>
            <a href="/login">Log In</a>
            <a href="/logout">Log Out</a>
        </nav>
    </header>
    <body>
        {% block content %}
        {% endblock %}
    </body>
</html>