<!doctype html>
<html>
    <head>
        <title>Build a Blog!</title>
    </head>
    <body>
        <h1>Add new post</h1>
        <form method='POST'>
            <div>
                <label>
                    New blog post title:
                    <br/>
                    <input type="text" name='title' />
                </label>
            </div>
            <div>
                <label>
                    New blog:
                    <br/>
                    <textarea name='content' rows='8'></textarea>
                </label>
            </div>
            <div>
                <input type="submit" value='Add Entry' />
            </div>
        </form>

        <hr />

        <h1>Posts</h1>
        {% if blogs|length == 0 %}
        <p>No blogs yet</p>
        {% else %}

            {% for blog in blogs %}
                <h3>{{blog.title}}</h3>
                <p>{{blog.content}}</p>
                <hr />
            {% endfor %}
        {% endif %}
    </body>
</html>