{% extends 'base.html' %}
    {% block content %}

        <h1>Add new post</h1>
        <form method='POST' action='/newpost'>
            <div>
                <label>
                    New blog post title:
                    <br/>
                    <input type="text" name='title' />
                </label>
            </div>
            <div>
                <label>
                    New blog:
                    <br/>
                    <textarea name='content' rows='8'></textarea>
                </label>
            </div>
            <div>
                <input type="submit" value='Add Entry' />
            </div>
        </form>

{% endblock %}