{% extends 'base.html' %}
    {% block content %}

        <h1>Add new post</h1>
        <form method='POST' action='/newpost'>
            <div>
                <label>
                    New blog post title:
                    <br/>
                    <input type="text" name='title' value='{{title}}'/>
                </label>
                <br/>
                <span class="error">
                {% if title_error %}
                    {{title_error}}
                {% endif %}
                </span>
            </div>
            <div>
                <label>
                    New blog:
                    <br/>
                    <textarea name='content' rows='8'>{{content}}</textarea>
                </label>
                <br/>
                <span class="error">
                {% if content_error %}
                    {{content_error}}
                {% endif %}
                </span>
            </div>
            <div>
                <input type="submit" value='Add Entry' />
            </div>
        </form>

{% endblock %}